
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap');

/*font-family: 'Poppins', sans-serif;*/
/* font-family: 'Playfair Display', serif; */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
main{
  background-size: cover;
}
/*styling for navbar*/
.navbar{
    font-size: 20px;
    line-height: 30px;
    border-bottom: 0.2px outset gray;
    background-color: rgba(42, 192, 242, 0.5)
}
.nav-link{
    font-weight: 500;
}
.navbar-brand {
    letter-spacing: 3px;
    font-weight: 500;
    text-transform: capitalize !important;
}
/* Styling for footer*/
.footer{
    color: white;
    padding-top: 20px;
    background-color: rgb(49, 48, 48);
    height: 15vh;
}
.footer a{
    text-decoration: none;
    padding: 10px;
    color: floralwhite;
}
.footer a:hover{
    color: yellowgreen;
}
 /*styling for about page */

 .aboutpage{
    height: 70vh;
 }
 .aboutimg{
    padding-left: 20px;
    width: 1000px;
    height: 90%;
 }
 
 .aboutcntclass{
    padding: 130px 55px;
    line-height: 30px;
    letter-spacing: 0.5px;
    font-family: 'Poppins', sans-serif;
    font-size: large;
    font-weight: 600;
 }
 .responsive{
  display: none;
 }
 .responsive-head{
  display: none;
 }
 .cnthead{
    letter-spacing: 4px;
    font-weight:800;
 }
 /* styling for contact page */
 .contactpage{
   height: 800px;
   background-image: linear-gradient(whitesmoke, rgb(244, 148, 126));
 }
 .contactimg{
    height: 50%;
    width: 100%;
 }
 .contactform-responsive{
  display: none;
 }
 .contactform{
    margin:auto;
    width: 100%;
    border: 0.52px solid rgb(131, 123, 123);
    border-radius: 4px;
 }
 .policypage{
    padding: 50px;
    background-size: cover;
    overflow: hidden;
 }
 .policyimg {
    width: 60%;
    height: 700px;
 }
 
 .listcontainer{
   background-image: linear-gradient(to bottom right,  rgb(168, 168, 250), rgb(101, 115, 237));
    margin-left: 115px;
    border: 1px solid gray;
 }
 .listitem{
    font-size:large;
    letter-spacing: 1px;
 }
 .policyicon{
   height: 80px;
   margin-left: 145px;
 }
 .pagenotfound{
   height: 800px;
   font-family: 'Poppins', sans-serif;
 }
 .heading{
   padding-top: 130px;
   font-size: 150px;
 }
 .notfoundbtn{
   margin-left: 850px;
   width: 150px;
   height: 60px;
   background-color: black;
   color: whitesmoke;
 }

 .ant-checkbox{
   margin-bottom: 20px;
 }

 .filterback{
   background-color: rgb(184, 184, 238);
 }
 .card img:hover{
   transform: scale(0.9);
 }
 .category-card{
   width: 400px;
   background-image: linear-gradient(to bottom right, rgb(239, 107, 122), rgb(241, 168, 249));
 }
 @media screen and (max-width: 600px){
  .cart-page{
    margin-right: 30px;
  }
  .aboutpage{
    height: 100vh;
  }
  .aboutcnt{
    display: none;
  }
  .responsive{
    display: block;
    position: relative;
  }
  .responsive img{
    width: 100%;
    height: 100%;
  }
  .responsive-head{
    display: block;
    position: absolute;
    top: 40%;
    left: 10%;
    letter-spacing: 2.5px;
    background-color: transparent;
    color: white;
    padding-left: 10px;
    padding-right: 20px;
    width: 50%;
    height: 40%;
  }
  .policypage{
    height: 800px;
    background-size: cover;
    overflow: hidden;
  }
  .policyimg{
    display: none;
  }
  .listcontainer{
    background-image: linear-gradient(to bottom right,  rgb(168, 168, 250), rgb(101, 115, 237));
     margin-left: 20px;
     border: 1px solid gray;
     overflow: hidden;
  }
  .listitem{
    font-size: medium;
    letter-spacing: 0.6px;
 }
  .policypage{
    background-size: 100% 100%;
    height: 100%;
  }
 .policyicon{
   height: 80px;
   margin-left: 135px;
 }
  .contactimg{
   display: none;
  }
  .contactpage{
    min-height: 800px;
    background-image: linear-gradient(white, rgb(244, 148, 126));
  }
  .contactform{
    display: none;
  }
  .contactform-responsive{
    display: block;
   }
  .contactform-responsive{
    width:100%;
    height: 100vh;
    border: none;
  }
  .contactform-responsive h4{
    margin-top: 25px;
  }
  .contactus{
    display: none;
  }
  .contactform-responsive .contact-heading{
    font-size: 29px;
  }
  .contactform-responsive .detail{
    margin-top: 50px !important;
    font-size: 23px;
  }
  .contactform-responsive p{
    margin-top: 70px !important;
    font-size: 20px;
  }
  .non-responsive{
    display: none;
  }
 .aboutcntclass{
  display: none;
 }
 }
 
 